body
{
    background-color: rgb(36, 36, 36);
    margin: 0;
    padding: 0;
}

.nav-bar
{
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}

.nav-item
{
    flex: 1;
    text-align: center;
}

.nav-item a
{
    text-decoration: none;
    color: white;
    padding: 0 30%;
}

.nav-item a:hover
{
    background-color: white;
    color: black;
}

h1,h2,p
{
    color: white;
}

h1
{
    text-align: center;
    font-size: 40px;
}

section
{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

img
{
    object-fit: cover;
    max-height: 50%;
    max-width: 50%;
    display: block;
    margin: 0 auto
}

#Title
{
    height: 100px;
    width: 100%;
    background-image: url(images/galexy.jpg);
    background-size: cover;
    margin:0 auto;
    border: 1px solid white;
}

.body-txt
{
    margin: 50px 0 0 0;
}

@media (min-width:1200px)
{
    h2
    {
        font-size: 30px;
        width: 75%;
    }
    
    p
    {
        font-size: 20px;
        display: inline-block;
    }
    
    h2
    {
        text-align: center;
        display: inline-block;
    }
    
    h2,p
    {
        margin-left: 20px;
    }

    #img-1, #img-3
    {
        max-width: 18%;
        float: right;
        margin: -30px 20 0 0;
    }

    #img-2
    {
        max-width: 18%;
        float: right;
        margin: -65px 20px 0 0;
    }

    #img-3
    {
        max-width: 18%;
        float: right;
        margin: -50px 20px 0 0;
    }

    p
    {
        width: 75%;
        text-align: left;
    }

    section
    {
        width: 99%;
        text-align: left;
        margin: 0 auto;
    }
}